#zone_contenu_corps {
	padding: 10px;	
}

/*--------------------------------------------------------------------------------------------------------------*/
/* Tableau du chronom�trage du programme */

#pied_texte #chrono {
	text-align: center;
	margin:0 auto;}
#chrono table {
	display:block;
	border:3px solid #6495ed;
	border-collapse:collapse;}
#chrono thead, tfoot {
	background-color:#D0E3FA;
	border:1px solid #6495ed;}
#chrono tbody {
	background-color:#FFFFFF;
	border:1px solid #6495ed;}
#chrono th {
	font-family:monospace;
	border:1px dotted #6495ed;
	padding:5px;
	background-color:#EFF6FF;
	width:25%;}
#chrono td {
	font-family:sans-serif;
	font-size:80%;
	border:1px solid #6495ed;
	padding:5px;
	text-align:center;}
#chrono caption {
	font-family:sans-serif;
	text-align: center;
	width:90%;
	margin:auto;}
.debogage{
	color:black;
	border:3px solid #6495ed;}
.debogage_fichier, .debogage_ligne{
	font-size:10px;
	color:#A9A9A9;}
	
/*----------------------------------------------------------------------------------------------------------*/
/* Style de l'application */
.liste td {
	text-align:center;
}

.liste td, .liste th {
	border:1px solid black;
}

th {
	height: 40px;	
}

.liste th, .liste th a {
	color:black;
	margin:0 5px;
}

.liste th {
	text-align:center;
}

.note_bas_page {
	font-size:11px;
	font-weight:normal;
	color:#AAAAAA;
}

.erreur_champ {
	border: 1px solid red;	
}

@media all and (max-width: 880px) {
	input {
		display: block;
	}
}

@media all and max-device-width: 480px {
	input {
		display: block;
	}
}

.nom_prenom {
	padding:0;
	padding-top: 5px;
	height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 350px;
}

.localisation {
	width: 180px;
	height: 35px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.description {
	width: 550px;
	height: 50px;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
    top: -10px;
}

.description:after {
	content: "...";
}

.profil_informations .gauche {
	position: relative;
	top: -10px;
}

#fiche_utilisateur {
	padding: 10px;	
}

#carte_id {
    padding-bottom: 30px;
    width: 450px;
    padding: 0;
    border: none;
}

.groupe_champs_fiche {
	padding-top : 10px;
}

.resume_conteneur {
	border: none;
}