img.icone {

	height:16px;
	width:16px;
	margin: 5px;
	border: none;
}

img.icone_moyenne_moins {

	height:20px;
	width: 20px;
	margin: 5px;
	border: none;
}

img.icone_moyenne {

	height:24px;
	width: 24px;
	margin: 5px;
	border: none;
}

img.icone_grande {

	height:50px;
	width:50px;
	margin: 5px;
	border: none;
}

td, th {
	padding: 2px;
	text-align: center;	
}

.liste td.texte_gauche {
	text-align: left;	
	padding-left: 5px;
}

.gestion td {
	padding-top : 5px;
	padding-bottom : 5px;
	padding-right : 15px; 	
}

label {
	float: none !important;	
}

a > .icone {

	text-align:center;
}

.texte_centre {
	text-align: center;	
}
.texte_centre > img {
	display:table-cell;	
}

.premiere_page {
	float:left;
	margin:5px
}

.derniere_page {
	float:right;
	margin:5px;
}

#pages {
	margin-left: auto; 
  	margin-right: auto; 
  	width: 80%;
  	text-align: center;	
}

#page_courante a {
	color: #FFD700;
}

.centre {
	margin-top:10%;	
	margin-left:20%;
	min-height:500px;	
}

.gauche {
	float:left;
	margin-right: 20px;
}

.droite {
	float:right;
	clear: right;
}

img {
	border: none;
}

#avatar {
	margin-left: 10px;
}

.avatar_petit {
	max-height: 70px;
	max-width: 70px;	
}

#inscription > div {
	margin-top: 5px;
	margin-bottom: 5px;
}

#fiche_utilisateur,  {
	background-color:#FAFAFA;
	border:1px solid #F2F2F2;
	margin:10px;
	padding-bottom: 10px;
}

#profil {
	border:1px solid #F2F2F2;
	margin:10px;
	padding-bottom: 10px;
	-moz-border-radius: 2em;
}

.element_profil {
	font-size:1.1em;
	padding-top: 2px;
	padding-left: 25px;
	padding-bottom: 8px;
	color:#000000;
}

.valeur_profil {
	font-weight:bold;
	white-space: pre-wrap;
}

#profil, .resume_conteneur {
	border:5px solid #F2F2F2;
	margin:10px;
	padding-bottom: 10px;	
}

.info_resume {
	margin-left:20px;	
}

form#recherche_annuaire {
	padding: 10px 0 10px 10px;
}

#envoi_message {
	background-color: #FFFFFF;	
}

form#suppression, form#modification, form#blocage {
	display: inline;
	border: none;
	background-color: inherit
}


#inscription_modification input, #inscription_modification select {
	display: block;	
}

#inscription_modification input[type="checkbox"], #inscription_modification input[type="radio"], #inscription_modification input[type="submit"] {
	display: inline;	
}

#inscription_modification label {
	padding-left: 3px;
}

#inscription_modification label_champ_annuaire {
	display: block;
}

form.form_bouton {
	background-color: none !important;	
	border: none !important;	
}

.conteneur_blocage {
	padding: 0px 10px 10px 10px;	
	width: 250px;
	margin: 10px
}

.conteneur_bloque {
	border:1px solid #FF6347; 
	background-color: #FCCCCF;
}

.conteneur_non_bloque {
	border:1px solid #A6C39E; 
	background-color: #D6FCCD;
}

ul#liste_orientiation > li {
	margin: 20px	
}

.lien_en_ligne {
	margin-right: 10px	
}

.resume h3 {
	font-size: 13px;	
}

.resume_conteneur {
	display: block;
	margin-left: 10px;	
	padding: 10px;
	-moz-border-radius: 2em;
	clear : left;
}

.gestion_conteneur {
	width: 50%;	
}

.colonne_resume, .colonne_resume {
	width: 45%;	
}

.resume {
	width:100%;
	padding-left: 10px;
}

#resume {
	min-height: 1600px;	
}

.resume_conteneur > h3 > a {
		color: #996F18;
}

.resume_conteneur > h3 {
		text-align: center;
}

.gestion_conteneur {
	width: 80%;
	margin-left: 10px;	
	padding: 0px;
}

.gestion {
	max-width:800px;	
}

.info_application {
	font-weight: bold;
	margin-left: 20px;	
}

form#envoi_message, form#envoi_message > table {
	background-color:#FFFFFF;
	border: none;
	margin: 2px;
}

textarea#contenu_message {
	width: 90%;	
}

#formulaire_message {
	background-color:#FAFAEA;
	border:1px solid #F2F2F2; 
	padding: 0px 10px 10px 10px;	
	width: 90%;
}

#carte_id {
	border:5px solid #F2F2F2;
	margin:10px;
	padding-bottom: 30px;
	width: 450px;
	height: 160px;
	-moz-border-radius: 2em;
	
}

#carte_infos span {
	padding-top: 2px;
}

#carte_infos {
	margin-top: 5px;	
}

#carte_id #avatar {
	padding-top: 7px;	
}

.checkbox_alignee {
	display: inline-block; 
	margin: 1px;
	margin-right:20px;	
}

label.label_groupe_checkbox {
	font-weight: normal !important;	
	display:inline !important;
}

.label_checkbox {
	margin-right:2px;
	display:inline !important;	
}

.groupe_checkbox {
	margin-right:2px;	
}

textarea.annuaire {
	width: 400px !important;	
	height: 200px !important;
}

input.date_annuaire {
	width: 80px;	
}

.information {
	margin: 10px;	
}

.champ_nom {
	height: 50px !important;	
}

#form_connexion #label_memoriser {
	display: inline;
}

#fiche_privee {
	background-color:#EBCC77;
	border:1px solid #E4B842;
	max-width:800px;
}

#texte_profil_prive {

	vertical-align:top;
	width:100%;	
	text-align:center;
}

#fiche_privee img {
	margin-top: -6px;	
}

#inscription label {
	font-weight: bold;
	display: inline;	
}

.liste_horizontale {
	clear: both;	
}

.liste_horizontale_simple li  {
	
	float:left;
	margin-left:2px !important;
	float:left; /*pour IE*/
	font-weight: bold;
	
}

.liste_horizontale li  {
	float:left;
	margin-right: 20px !important;
	margin-left:2px !important;
	float:left; /*pour IE*/
}

.liste_horizontale, .liste_horizontale_simple {
	padding:0;
	margin:0;
	list-style-type:none;
}
 
.liste_horizontale li a {
	display:block;
	float:left;   
	width:200px;
	background-color:#EBCC77;
	background-image : none;
	color:black;
	text-decoration:none;
	text-align:center;
	font-weight: bold;
	padding:5px;
	margin-left: 10px;
	margin-top: 10px;
	border:2px solid;
	/*pour avoir un effet "outset" avec IE :*/
	border-color:#996F18;
	-moz-border-radius: 0.9em;
}

.liste_horizontale li a:hover {
 	background-color:#D3D3D3;
 	border-color:#696969 #DCDCDC #DCDCDC #696969;
 } 
 
#page_en_cours a {
	background-color:#996F18;
	border-color:#EBCC77;	
}
 
 .liste_horizontale li.lien_participer a {
	background-color:#CFDB86 !important;
	border-color:#03642C !important;
}

.liste_horizontale li.lien_participer a:hover {
 border-color:#696969 #FFFFFF #DCDCDC #696969 !important;
}

.lien_participer#page_en_cours a {
	background-color:#639F13 !important;
	border-color:#CFDB86 !important;	
}

.separation {
	visibility:hidden;
	clear:both;
	margin-bottom: 4px;
	margin-top: 4px;	
}

.formulaire_annuaire_admin textarea {
	width: 400px !important;	
	height: 50px !important;
	margin-left: 10px;
	margin-top: 10px;
}

.formulaire_annuaire_admin input {
	margin-top: 10px;
	margin-left: 10px;
}

.formulaire_annuaire_admin label {
	margin-top: 10px;	
}

.resultat_recherche {
	width: 730px;	
}

.importance1 {
    -moz-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 2px 2px 5px #AAAAAA;
    background-color: #EAEDCD;
    color: #3A3633;
    font-family: arial;
    font-size: 11px;
    margin: 10px 10px 20px;
    padding: 8px;
}

.resultat_recherche .nom_prenom {
	font-size: 1.5em;
	margin-top: -5px;
}

.resultat_recherche .element_resultat {
	height: 85px;
	margin: 10px !important;
	font-size: 12px;
	text-align: justify;
}

.resultat_recherche .profil_avatar {
	width: 80px;
	margin-right: 0;
}

.resultat_recherche .selection_destinataire {
	margin-left: 15px;
}

.resultat_recherche .profil_informations {
	display:inline;
	float:left;
	width:550px;
}

.resultat_recherche .description {
	color: #555555;
}

.resultat_recherche .experience {
	font-style: italic;
	font-weight: normal;
	color: #999999;
}

.resultat_recherche .experience .niveau {
	color: #E16039;
	font-style: normal;
}

.resultat_recherche .localisation {
	font-weight: bold;
}

.note_bas_page {
	font-size:11px;
	font-weight:normal;
	color:#AAAAAA;
}

.conteneur_lien_acces_formulaire_message {
    margin-bottom: 15px;
    margin-top: 20px;
}
